.g-primereact-rating {
    &.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
        color: #fcb028;
        width: 10px;
        height: 10px;
    }
    &.p-rating .p-rating-item .p-rating-icon.p-icon{
        width: 10px;
        height: 10px;
    }
}
